In [ ]:
import numpy as np
import pandas as pd
import requests
from sklearn.impute import SimpleImputer

In [ ]:
url = 'https://data.cityofchicago.org/resource/n4bx-5kf6.json'

In [ ]:
#make get request for city of chicago salary data
r = requests.get(url)

In [ ]:
#check response is 200
r

In [ ]:
#save json content to json save to dataframe
json = r.json()

In [ ]:
salary_df = pd.DataFrame(json)

In [ ]:
salary_df.head()

In [ ]:
salary_df.isna().sum()

In [ ]:
salary_df_numeric_cols = ['annual_salary', 'frequency_description','hourly_rate']

In [ ]:
salary_df[salary_df_numeric_cols] = salary_df[salary_df_numeric_cols].apply(pd.to_numeric, errors='coerce')
salary_df[salary_df["hourly_rate"]=="NaN"]=np.nan
salary_df.dtypes

In [ ]:
#hourly workers only
hrly_salary_df = salary_df[salary_df["annual_salary"].isna()].copy()
hrly_salary_df

In [ ]:
#check for "F" workers with "HOURLY" pay and annualized 52 weeks of pay for 40hr work weeks
hrly_salary_df["annual_salary"]=[float(x) for x in (hrly_salary_df["hourly_rate"]*hrly_salary_df["frequency_description"]*52)]

In [ ]:
hrly_salary_df[hrly_salary_df["annual_salary"]==hrly_salary_df["annual_salary"].min()]

In [ ]:
hrly_salary_df[hrly_salary_df["annual_salary"]==hrly_salary_df["annual_salary"].max()]